<!-- This is the basic HTML structure, for which I will need to encorporate Ruby using %s --> 
<!DOCTYPE html>

<head> 
	<title> Shopping List </title>
	<link rel="stylesheer" type="text/css" href="stylesheet.css" media="screen">
	<meta name="viewport" content="width=devide-width, initial-scale=1.0">
	<meta name="description" content="A handy app to help you keep track of your shopping list!">
</head>

<body>

	<div class="title_bar">
		<h1> Shopping List </h1>
		<img src=>
	</div>

</body>

<footer>
</footer>