* {
	margin: 0;
	padding: 0;
}

p {
	font-family: sans-serif;
	font-size: 1em;
	padding-left: 5%;
	padding-right: 5%;
	line-height: 1.5em;
}

h1 {
	font-family: sans-serif;
	font-size: 4em;
	color: white;
	background-color: #b5deff;
	padding-left: 20%;
	padding-right: 20%;
	line-height: 4em;
}

.title_bar {
	 background-image: linear-gradient(to top left, #FFF, #FFF, #e7f8fe, #e7f8fe, #e7f8fe, #e7f8fe, #d0f1fe, #b9eafd, #8addfc, #16BCFA, #16BCFA, #16BCFA);
	 width: 100%;
	 
}